:root {
  --primary-color: #1DA1F2;
}

* {
  margin: 0;
  padding: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #14171A;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

a {
  color: var(--primary-color);
  text-decoration: underline;
}

a.btn {
  text-decoration: none;
}

.flex-column {
  flex-direction: column!important;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: .3125rem;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #fff;
  border: .0625rem solid #e7eaf3;
}

.list-navigation .list-group-item {
  padding-top: 0;
  padding-bottom: 0;
  border-width: 0;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #AAB8C2;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: .0625rem solid transparent;
  padding: .54688rem .875rem;
  font-size: .875rem;
  line-height: 1.6;
  border-radius: .3125rem;
  transition: all .2s ease-in-out;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn:hover {
  color: #657786;
  text-decoration: none;
}

.btn-ghost-primary {
  color: var(--primary-color);
  background-color: transparent;
}

.btn-ghost-primary.active, .btn-ghost-primary.focus, .btn-ghost-primary:active, .btn-ghost-primary:focus, .btn-ghost-primary:hover {
  color: var(--primary-color);
  background-color: rgba(55,125,255,.1);
}

.btn-soft-primary {
  color: var(--primary-color);
  background-color: rgba(55,125,255,.1);
  border-color: transparent;
}

.rounded-pill {
  border-radius: 6.1875rem;
}
